body > table{
    width: 80%;
  
    
}
.full
{
    background-color: lightgrey;
    padding-top: px;
}
table{
    border-collapse: collapse;
}
table.list{
    width:100%;
    margin-left: 100px;
    margin-top: -215px;
}

td, th {
    
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number],input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons
{
    text-align:center;
    padding-top: 50px;
    
}
#button
{
    font-weight: bolder;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.full
{
    background-color: lightseagreen;
}

.padd
{
    margin-bottom: 100px;
}

#padd1
{
    font-weight: 700;
    font-family: Georgia, serif;
    padding-left: 550px;
    background-color: chocolate;
    padding-top: 25px;
    padding-bottom: 15px;
    
    margin-top: -10px;
    
}

.move
{
    padding-left: 700px;
    float:right ;
    
   
}
.link
{
    text-decoration: none;
    
}
